body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/Wiki-background.jpg");
    font-family: 'Shadows Into Light', cursive;
}

.container {
	text-align: center;
	width: 500px;
    margin: 100px auto;
    height: 500px;
  

}

h2 {
	font-size: 20px;
}

h1 {
	font-size: 80px;
	color: #FF1493;
}